*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/test/java/a15s/android/datamatiker/miniprojekt2/ExampleUnitTest.java
build.gradle
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
.idea/
app/proguard-rules.pro
app/src/androidTest/java/a15s/android/datamatiker/miniprojekt2/ExampleInstrumentedTest.java
